@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Fugaz+One&family=Monoton&family=Orbitron:wght@900&family=Oswald:wght@500&family=Source+Code+Pro:wght@400;700&display=swap');
SetList {
    background-color: sandybrown;
    text-align: center;
    font-family: 'Amatic SC', Helvetica, Courier, monospace;
    margin: 20px;
}

Band {
    font-size: 48px;
    color: white;
    text-shadow: 2px 2px orangered;
}

Song {
    display: block;
    font-size: 32px;
    padding: 20px;
}

SongTitle {
    display: block;
    font-weight: bold;
    color: white;
}

Artist {
    display: block;
    color: orangered;
}

Genre {
    display: block;
}

Year {
    display: block;
}