@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Fugaz+One&family=Monoton&family=Orbitron:wght@900&family=Oswald:wght@500&family=Roboto+Slab&family=Source+Code+Pro:wght@400;700&family=Ultra&display=swap');

html {
    background-color: mintcream;
    font-family: 'Roboto Slab', Helvetica, monospace;
    text-align: center;
    padding: 20px;
}

.pick-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: black;
}

#unsorted-pick, #sorted-pick, #winning-pick {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    margin: 16px;
}

#sorted-pick{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    margin: 16px;
}

#winning-combo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#winning-pick {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    margin: 16px;
}

#unsorted-pick div {
    text-align: center; 
    font-size: 16px; 
    font-weight: 600; 
    width: 24px; 
    height: 24px; 
    border: 1.8px 
    solid black; 
    border-radius: 50%; 
    padding: 10px;
}

#sorted-pick div {
    text-align: center; 
    font-size: 16px; 
    font-weight: 600; 
    width: 24px; 
    height: 24px; 
    border: 1.8px 
    solid black; 
    border-radius: 50%; 
    padding: 10px;
}

#winning-pick div {
    text-align: center; 
    font-size: 16px; 
    font-weight: 600; 
    width: 24px; 
    height: 24px; 
    border: 1.8px 
    solid black; 
    border-radius: 50%; 
    padding: 10px;
}

/* .your-luckyball {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 16px;
} */

.your-luckyball div {
    text-align: center; 
    font-size: 16px; 
    font-weight: 600; 
    width: 24px; 
    height: 24px; 
    color: white; 
    background-color: green; 
    border-radius: 50%; 
    padding: 10px;
}

#matches, #payout-cases {
    font-size: 32px;
}

#payout-cases {
    color: green;
}

script {
    font-size: 24px;
    padding: 20px;
}

footer {
    padding: 20px;
    margin-top: 10px;
}