html {
    background-color: mintcream;
    font-family: Helvetica, monospace;
    text-align: center;
    padding: 20px;
}

#u-pick {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    color: black;
    border: solid rebeccapurple;
}

#unsorted-pick {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#s-pick {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    color: black;
    border: solid green;
}

#your-luckyball {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 20px;
    border: solid black;
}

#winning-nums {
    padding: 20px;
    color: pink;
    border: solid black;
}

#matches {
    padding: 20px;
    color: firebrick;
    border: solid black;
}

#payout-cases {
    padding: 20px;
    color: salmon;
    border: solid black;
}

script {
    font-size: 24px;
    padding: 20px;
}