@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Fugaz+One&family=Monoton&family=Orbitron:wght@900&family=Oswald:wght@500&family=Roboto+Slab&family=Source+Code+Pro:wght@400;700&family=Ultra&display=swap');

html {
    background-color: mintcream;
    font-family: 'Roboto Slab', Helvetica, monospace;
    text-align: center;
    padding: 20px;
}

#u-pick {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: black;
    border: solid rebeccapurple;
}

#unsorted-pick {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 16px;
}

#unsorted-pick div {
    text-align: center; 
    font-size: 16px; 
    font-weight: 600; 
    width: 32px; 
    height: 32px; 
    border: 1.8px 
    solid black; 
    border-radius: 50%; 
    padding: 10px;
}

#s-pick {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: black;
    border: solid green;
}

#sorted-pick {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 16px;
}

#your-luckyball {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border: solid black;
    gap: 16px;
}

#winning-nums {
    padding: 20px;
    color: pink;
    border: solid black;
}

#matches {
    padding: 20px;
    color: firebrick;
    border: solid black;
}

#payout-cases {
    padding: 20px;
    color: salmon;
    border: solid black;
}

script {
    font-size: 24px;
    padding: 20px;
}